{
    "presets": [
      "@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"
    ],
    "plugins": [
      "@emotion",
      [
        "@babel/plugin-transform-runtime",
        { 
          "helpers": true,
          "regenerator": true,
          "corejs": false
        }
      ]
    ]
  }