.header{
  position: sticky;
  top: 0;
  z-index: 1000;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(8px);
}

.header-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .logo{
    >span{
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 8px;
    }
  }
}